@import 'font.scss';
@import 'header.scss';
@import 'helper.scss';
@import 'container.scss';
@import 'banner.scss';
@import 'service.scss';
@import 'footer.scss';
@import 'consultation.scss';
@import 'team.scss';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
}

body {
  font-family: "Sofia", serif;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}