.navbar {
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.nav-img {
  width: 20px;
  cursor: pointer;
}

.nav-list {
  display: none;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
  left: 0;
  top: 80px;
  width: fit-content;
  position: absolute;
  opacity: 0.92;
  background-color: rgb(230, 230, 230);
  padding: 25px;
  z-index: 2;
  font-size: 17px;
  text-wrap: nowrap;

  a {
    text-decoration: none;
    color: var(--dark);
    font-size: 21px;

    &:hover {
      color: var(--black);
    }
  }

  li {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    width: 100vw;

    span,
    a {
      color: var(--dark);
      cursor: pointer;
      align-items: center;
      font-weight: bolder;
      font-size: 18px;



      &:hover {
        color: var(--black);
      }
    }
  }
}

.hamburger {
  display: block;
  cursor: pointer;
  border: 0;
  background-color: transparent;

  img {
    width: 1.6rem;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  li {
    width: unset !important;
  }

  .nav-list {
    display: flex !important;
    position: unset;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    opacity: unset;
  background-color: white;
  }
}