.our-team {
    margin-bottom: 5rem;

    p {
        text-align: center;
        color: var(--dark);
        font-size: 17px;
    }

    h2 {
        text-align: center;
        color: var(--black);
        font-size: 30px;
        margin-top: 1.2rem;
        margin-bottom: 1rem;

    }

    .similique {
        margin: auto;
        font-size: 16px;
        color: var(--deep-gray);
        margin-bottom: 2rem;
    }

    input {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
        outline: none;
        box-shadow: 4px 4px 0 0 rgba(57, 76, 87, 0.09);
        margin: auto;

        &:focus {
            border: 1px solid grey
        }
    }

    button {
        display: flex;
        margin: auto;
        margin-top: 3rem;
        padding: 15px 25px;
        background-color: var(--blue);
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(230, 230, 230);
        box-shadow: 0 8px 34px 0 rgba(49, 111, 215, 0.3);


        &:hover {
            background-color: #366AC1;
        }
    }

}

.our-team-content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr );
    margin-top: 2rem;
    gap:2rem;

    li {
        list-style: none;
        display: flex;
        gap: 2rem;

        a {
          line-height: 30px;
          text-decoration: none;
          color: var(--dark);
          cursor: pointer;
          align-items: center;
          font-weight: 400;
          font-size: 20px;
        //   margin: auto;
    
          &:hover {
            color: var(--blue);
          }
        }
      }

      .team-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        img {
            border-radius: 10%;
            
        }
      }
}

@media (min-width:768px) {
    .our-team {
        h2 {
            font-size: 40px;
        }

        .similique {
            width: 60%;
        }

        input {
            width: 50%;
        }
    }


    .our-team-content {
        grid-template-columns: repeat(2, 1fr );

        a {
          line-height: 40px;
        }

        .team-images {
            grid-template-columns: repeat(2, 1fr);
    
          }
    }

}

@media (min-width:1024px) {
    .our-team-content {
        .team-images {
            grid-template-columns: repeat(3, 1fr);
    
          }
    }
}