.our-team {
    margin-bottom: 5rem;

    p {
        text-align: center;
        color: var(--dark);
        font-size: 17px;
    }

    h2 {
        text-align: center;
        color: var(--black);
        font-size: 30px;
        margin-top: 1.2rem;
        margin-bottom: 1rem;

    }

    .similique {
        width: 80%;
        margin: auto;
        font-size: 16px;
        color: var(--deep-gray);
        margin-bottom: 2rem;
    }

    input {
        
        width: 40%;
        padding: 15px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid rgb(230, 230, 230);
        outline: none;
        box-shadow: 4px 4px 0 0 rgba(57, 76, 87, 0.09);
        margin: auto;

        &:focus {
            border: 1px solid grey
        }
    }
}

@media (min-width:768px) {
    .our-team {
        h2 {
            font-size: 40px;
        }
    }

}